[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
coverage = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
